

p {
text-align: center;
font-family: sans-serif;
font-size: 15px;

}


/* #reff {
    display:contents;
} */
#reff{
    background-image: url('assets/ernest-ojeh-aEytUoE1Tkc-unsplash.jpg');
    background-size:cover;
    backdrop-filter: blur(5px);
    opacity: 1;
    /* position: fixed; */
}

p.ecs {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

font-size: 30px;
text-align: justify;

}

html {
    scroll-behavior: smooth;
  }

.navbar-fixed {
    position: fixed;
    padding-bottom: 50px;
}

h1{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 0px;
}
.image{
    /* display: none; */
    padding-left: 5px; 
    padding-top: 15px; 
    height: 55px; 
    width: 70px; 
    border-radius: 100px;
    align-items: center;
    justify-content: center;
}